<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Add & View Semester & Course</title>
</head>

<body>
<div class="container">

                            <!--          ADD New Semester-->
    <div class="row">
        <div class="col-md-4">
            <br><br>
        </div>
        <div class="col-md-8">
            <br>
        </div>
    </div>

    <div class="row" style="background-color: lightblue">
        <br>
        <div class="col-md-4"><br></div>
        <div class="col-md-5" style="border-style: solid" >
             <h1 class="text-center"><u> Add a New Semester </u></h1><br>
            <form class="form">
                <input type="hidden" name="stuId"/>
                Name: <input type="text" name="studentName"/><br><br>

                Department: <select name="depId">
                <option th:each="dep : ${departmentList}"
                        th:value="${dep.depId}"
                        th:text="${dep.departmentName}"></option>
            </select><br><br>
                Batch: <select name="batchId">
                <option th:each="batch : ${batchList}"
                        th:value="${batch.batchId}"
                        th:text="${batch.batchName}"></option>
            </select>
                <br> <br>
                <button class="btn btn-primary">Save</button>
            </form>
            <br>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/manage-student.js}"></script>

</body>
</html>